<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103426242671-92v7eccu9rl07puap5t7crh6e23np002.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103426242671-92v7eccu9rl07puap5t7crh6e23np002</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>103426242671-1jl2knd5rd4490gcmfmgaq809c2mq3u2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0LIJqpY2pYvEBocHqPyLBR0w-UCHN55I</string>
	<key>GCM_SENDER_ID</key>
	<string>103426242671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-7af95</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-7af95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103426242671:ios:e3c7a9f2d891222252b59a</string>
</dict>
</plist>